services:
  random-sentences:
    container_name: random-sentence-service
    build:
      context: ./sentences 
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8080:8080
    networks:
      - main

  activemq:
    image: apache/activemq-classic:5.18.3
    container_name: activemq
    ports:
      - "50061:61616"
      - "50062:61613"
      - "8161:8161"
    env_file: .env
    networks:
      - main

  db:
    image: postgres:15-alpine
    container_name: postgres-database
    env_file: .env
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - main
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin4
    env_file: .env
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - main
    depends_on:
      db:
        condition: service_healthy

  frontend:
    container_name: library-frontend-web
    build:
      context: ./library-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./library-frontend:/app
      - /app/node_modules
    networks:
      - main

networks:
  main:
    driver: bridge

volumes:
  pgdata:
  pgadmin_data:
